html, body {
	height: 100%;
	width: 100%;
}

/*GLOBAL STYlES*/
.no-padding {
	padding: 0;
}

/*SIDE NAVBAR*/
.sidebar {
	position: absolute; 
	right: 0;
}

.dot {
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	background-color: rgba(255,255,255,.3); 
	border-radius: 10px; 
	z-index: 999; 
	content: ''; color:transparent; 
	font-size: 14px; 
	line-height: 10px; 
	vertical-align: middle; 
	margin: 5px 0 5px 0; 
	font-weight: 300;
}

.dot:hover {
	background-color:rgba(255,255,255,.8); 
	color:rgba(255,255,255,.8);
}

nav {width:100px; height:200px; padding:0 0px; position:fixed; top:50%; right:20px; transform: translate(0, -50%); z-index: 10000; text-align:right;}
nav ul {list-style-type:none; margin:0; padding:0;}
.name-active {color:rgba(255,255,255,.8); background-color:#FFD95F; text-align:right;}

/* PAGE CONTENT */
.content {width:100%; text-align:justify;}
section {padding:0 0 20px 0;}
section:last-child {padding:0 0 100vh 0;}
.title {font-size:24px; color:rgba(255,255,255,.3); text-transform:uppercase; padding:0 0 0px 0;}


/*NAVBAR STYLE*/
svg.svg-inline--fa.fa-bolt.fa-w-10 {
	font-size: 1.3em;
	margin-top: 5px;
	margin-left: 10px;
}

ul.nav.d-flex.justify-content-between {
	background-color: white;
	
}

.nav-link {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: hotpink;
	margin-right: 10px;
}

.nav-item, p#no-hover {
	margin-bottom: 0;
}

.nav-link:hover {
	color: black;
}

#no-hover:hover {
	color: hotpink;
	cursor: auto;
}

a {
	color: white;
}

a:hover {
	color: black;
	text-decoration: none;
}

.font-family {
	font-family: 'Oswald', sans-serif;
	text-align: center;


}

/*DAY ONE*/
#day-one {
	height: 100%;
	width: 100%;
	background-color: #EB2137;
}

.day-one-header {
	font-size: 710px;
	color: #E67BBC;
	font-family: 'Oswald', sans-serif;
	margin: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	z-index: 0;
}

.day-two-header {
	z-index: 1;
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: -520px;
  	color: white;
  	font-family: 'Bangers', cursive;
  	font-size: 120px;
}

.day-one-paragraph-text {
	color: white;
	z-index: 1;
	position: relative;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;

}

.bangers-span {
	font-family: 'Bangers', cursive;
}

/*DAY-TWO*/
#day-two {
	height: 100%;
	width: 100%;
	background-color: #EB2137;
}
