html, body {
	height: 100%;
	width: 100%;
}

/*GLOBAL STYlES*/
.no-padding {
	padding: 0;
}

/*NAVBAR STYLE*/
svg.svg-inline--fa.fa-bolt.fa-w-10 {
	font-size: 1.3em;
	margin-top: 5px;
}

ul.nav.d-flex.justify-content-between {
	background-color: white;
	
}

.nav-link {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: hotpink;
}

.nav-item, p#no-hover {
	margin-bottom: 0;
}

.nav-link:hover {
	color: black;
}

#no-hover:hover {
	color: hotpink;
	cursor: auto;
}

a {
	color: #E67BBC;
}

a:hover {
	color: white;
	text-decoration: none;
}

/*DAY ONE*/
#day-one {
	height: 100%;
	width: 100%;
	background-color: #EB2137;
}

.day-one-header {
	font-size: 200px;
	color: #E67BBC;
}

.day-two-header {
	color: #E67BBC;
}

.day-one-paragraph-text {
	color: #E67BBC;
}